@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(116, 115, 115, 0.685);
}

.header {
  padding: 50px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.left_side {
  font-size: 25px;
  font-style: italic;
}

.right_side {
  margin-right: 30px;
}

.right_side a {
  font-size: 20px;
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  height: 100%;
  width: 300px;
  background-color: rgba(14, 13, 13, 0.658);
  margin: 60px 10px;
  border-radius: 10px;
}

.item_images {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

img {
  height: 100%;
  width: 100%;
}

.text_like {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.name-meal {
  font-size: 22px;
}

.btn_rev_com {
  padding: 20px;
}

.commentBtn,
.reservationBtn {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
}

.comment-popup {
  border: 4px solid black;
  width: 70vh;
  margin: auto;
  margin-top: 10%;
}

h2 {
  text-align: center;
}

.dish-img {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.recepie {
  text-align: center;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background: rgb(255, 255, 255, 0.5);
  overflow: auto;
  color: #000;
  width: 50%;
  margin: auto;
}

.popup-container {
  margin: auto;
  width: 90%;
  border: 2px solid #000;
  /* background-image: url(../dist/images/background\ 2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.background-blured {
  background-color: rgb(245, 245, 245, 0.5);
  padding: 1em;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.popup-header {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.thumbnail {
  width: 70%;
  /* background-image: url(../dist/images/loading.gif); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1rem;
}

.close-icon {
  color: whitesmoke;
  text-shadow: #000 2px 2px 5px;
  font-weight: bolder;
  font-size: xx-large;
  position: absolute;
  top: auto;
  right: 3em;
}

.close-icon:hover {
  cursor: pointer;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.recipe-title {
  display: inline-block;
  margin-bottom: 1rem;
}

.comments-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
}

.comments-header {
  font-size: larger;
  font-weight: bolder;
}

.counter-span {
  margin-left: 0.5rem;
}

.comments-list {
  list-style: none;
  margin: 1rem 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid;
}

.comment-btn {
  box-shadow: 2px 2px;
}
