@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.comment-popup {
  border: 4px solid black;
  width: 70vh;
  margin: auto;
  margin-top: 10%;
}

h2 {
  text-align: center;
}

.dish-img {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.recepie {
  text-align: center;
}