@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(116, 115, 115, 0.685);
}

.header {
  padding: 50px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.left_side {
  font-size: 25px;
  font-style: italic;
}

.right_side {
  margin-right: 30px;
}

.right_side a {
  font-size: 20px;
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  height: 100%;
  width: 300px;
  background-color: rgba(14, 13, 13, 0.658);
  margin: 60px 10px;
  border-radius: 10px;
}

.item_images {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

img {
  height: 100%;
  width: 100%;
}

.text_like {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.name-meal {
  font-size: 22px;
}

.btn_rev_com {
  padding: 20px;
}

.commentBtn,
.reservationBtn {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
}

.comment-popup {
  border: 4px solid black;
  width: 70vh;
  margin: auto;
  margin-top: 10%;
}

h2 {
  text-align: center;
}

.dish-img {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.recepie {
  text-align: center;
}

.hidden {
  display: none;
}